<div class="jumbotron">
    <h3 class="display-5">{{title}}</h3>
    {{#each ideas}}
    <div class="card card-body">
	  <h3 class="cent"><a href="/details/{{id}}">{{title}}</a></h3>
	  <div class="conts">
	    {{description}}
	  </div> 
	  <p>{{date}}</p> 
	  <p><a href="/details/{{id}}">查看详情</a></p> 

	</div>
	{{else}}
	  <p>敢不敢一起来分享!</p>
	  <a href="/ideas/add" class="btn btn-success btn-lg">添加新资料</a>
	{{/each}}
  
</div>

